<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>2018年你靠什么吃饭？？</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <meta itemprop="name" content="2018年你靠什么吃饭？？">
    <style>
        body{
            color:#ffffff;
        }
    </style>
</head>
<body style="width: 750px;height: 1000px">
<div class="blur-wrapper" style="">
    <div>
        <div id="question-container" class="question-common">
            <div>
                <div class="container compact" >
                    <img src="/static/ads/adsbg.png"/>
                    <div class="title" style="position: absolute;left: 300px;top: 200px;">
                        <h1 style="font-size: 36px;text-align: center;margin-bottom: 10px;">十滴水</h1>

                        <h1 style="font-size: 48px;text-align: center;margin-bottom: 10px;">人品</h1>

                        <h1 style="font-size: 36px;text-align: center;margin-bottom: 10px;">离离原上草</h1>
                        <h1 style="font-size: 36px;text-align: center;margin-bottom: 10px;">野火烧不尽</h1>
                        <h1 style="font-size: 36px;text-align: center;margin-bottom: 10px;">春风吹又生</h1>
                        <h1 style="font-size: 36px;text-align: center;">咦咦咦咦砂水</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>