<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>2018年你靠什么吃饭？？</title>

    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <meta itemprop="name" content="2018年你靠什么吃饭？？">
    <meta itemprop="image" content="http://e3dev.blacklily.cn/media/quiz/images/intro/chifan-1513936632.jpg">
    <link rel="stylesheet" href="/static/ads/4dcf998b1aaf.css" type="text/css">

    <script src="/static/ads/jquery.min.js"></script>

    <script src="/static/ads/jweixin-1.0.0.js"></script>
    <script src="/static/ads/share.js"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4597858668520362",
            enable_page_level_ads: true
        });
    </script>
</head>
<body style="background-color: rgb(6, 0, 64);">


<link rel="stylesheet" href="/static/ads/index.css">
<header id="header" style="background-color: rgb(6, 0, 64);">
    <a class="header-a"><img id="header_logo_img" src="/static/ads/hbxcs.png" alt="" width="105" height="45"
                             style="margin-left: 20px; vertical-align: middle;"></a>
    <div class="header-lang-div"><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAgCAYAAABU1PscAAABvUlEQVRYR+1YPUvDUBQ9TSwlWtJaqdUWRaHipGN100l0dHb0T7i56+ios6sgOFsnoaujH4gf1VIosbXE0jTIrVilNnl55pFYSbaQk5N7zrn3JiR0vDJ7kpLNNPrwKBryTaiwmj2Pyljsw/pRa+HUlYBIpgFJMaFfKb7ody0gtVFCeNhA6XAUzUrYcxFMAZLSgrpQg5aP9ywunGiCUni9iHpePD2QKUDNVRFb0nC/O8kskISYuoSWLsHUZSZeBKCnACWrd7hH1iqg8+L+GMy3j6KMykDPdkmulxFffsH11rT/Atq9nTB+mKTlYygfJS3No8RooL2aB8sWot5Pbz5DmflK42Ev49u2sXLMdgYoBTVX69zrZWs4nQ9bAVPbt9DO4tAvFZAY2kTVgmrJTalF5+q2GKeFOcVZCqD1SC+oxmOkzUXFDWZ123VJQzw0X8fdzoS/Q+xUfTeuW/RveXjuY74HWGS0++n4TIqFF33dtQCaDRLxdDDu2er8boJrAVQ8tc6f/ZQQHbloPtcJiC6Ily8QwOuYaHyQgGhHefmCBHgdE40PEhDtKC9fkACvY6LxQQKiHeXl+x8J9Pvv9XeqlRQ8OxuxZwAAAABJRU5ErkJggg=="
            alt="" class="header-lang-img hand"></div>
</header>
<input type="hidden" id="region" name="region" value="cn">


<div id="question-app">
    <div class="main-boxing" style="background-color: rgb(255, 255, 255);">
        <div class="content" style="display: none;">
            <div class="boxing">
                <div class="intro">
                    <div class="container compact full">
                        <div class="meaning-image">
                            <div class="ratio-outer"><img src="/static/ads/chifan-1513936632.jpg" class="ratio-inner"></div>
                        </div>
                    </div>
                    <div class="container compact">
                        <div class="question"><span>
                                    2018年你靠什么吃饭？？
                                </span></div>
                        <div class="description"><span>
                                    你的独门绝招是什么？看看你在2018年靠什么吃饭
                                </span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blur-wrapper" style="">
            <div>
                <div id="question-container" class="question-common">
                    <div>
                        <div id="q-image-container" class="container compact full" style="display: none;">
                            <div class="quiz-question quiz-image"><span class="quiz-image"><img></span></div>
                        </div>
                        <hr class="separator">
                        <div class="container compact">
                            <div class="title" style="background-color: rgb(253, 205, 15);">
                                <div class="progress"><span class="value"><span id="q-index-container"
                                                                                class="current"><span
                                        class="quiz-index">
                                                    1
                                                </span></span> <span id="q-length">
                                                / 1
                                            </span></span></div>
                                <div id="q-title-container" class="question"><span class="quiz-title"> 请输入你的名字 </span>
                                </div>
                            </div>
                        </div>

                        <hr class="separator">
                    </div>
                </div>
                <div id="top-ad" class="adbanner question-ad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- 300x250, 创建于 10-8-6 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:300px;height:250px"
                         data-ad-client="ca-pub-4597858668520362"
                         data-ad-slot="7385653225"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div id="question-choice-container" class="question-common">
                    <div id="q-qc-container" class="container compact">
                        <div class="answers type-input">
                            <div><input id="insert-name" type="text" class="insert-name">
                                <div class="privacy-notice"><span>  我们向您保证，用户输入的所有内容只会用于测试，不会被个人信息采集记录。 </span></div>
                                <div style="text-align: center;">
                                    <button type="button" class="next-button choice_button theme-next-button"
                                            style="background: rgb(62, 158, 237);"><span class="btn-text">下一步</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="upload-loader" class="loader" style="display: none;"></div>
                <div id="loading-bar" class="container full border-top-bottom"
                     style="border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 20px; display: none;">
                    <div class="loading-title">正在计算结果…</div>
                    <div class="loading">
                        <div class="activity-indicator">
                            <div>
                                <div class="loading-bar"></div>
                                <div class="loading-bar"></div>
                                <div class="loading-bar"></div>
                                <div class="loading-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="adbanner question-ad">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-73-2-98+e9+9g"
                 data-ad-client="ca-pub-4597858668520362"
                 data-ad-slot="9517439208"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>

<div id="qrcode-popup" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="popup_close" class="close">×</span>
            <p>长按订阅，每日更新</p>
        </div>
        <img id="qrcode_img" width="100%" src="/static/ads/VANNFLAT-1510285814.jpg">
    </div>
</div>
<script>
    $(function(){
        $(".btn-text").click(function () {
                $("#question-choice-container").hide();
                $("#loading-bar").show();
        })
    })
</script>

</body>
</html>